<div id="preloader" data-controller="retry-request" class="fixed inset-0 bg-white flex items-center justify-center z-50">
  <div class="loader border-t-4 border-green-600 rounded-full w-12 h-12 animate-spin"></div>
</div>
<div class="bg-white shadow-md rounded-lg p-4 justify-center text-center">
  <%= image_tag 'r_keeper_error.png', alt: 'r_keeper_error_image' %>
  <h3 class="text-xl font-semibold text-gray-900 mt-2">
    <%= error_message[:title] %>
  </h3>
  <p class="text-sm font-medium text-gray-800 mt-2">
    <%= error_message[:desc] %>
  </p>
  <button 
    data-controller="retry-request" 
    data-action="click->retry-request#retry" 
    data-retry-request-target="button" 
    class="w-full mt-4 bg-red-600 text-white text-lg font-semibold py-2 rounded-lg shadow flex items-center justify-center h-11"
    >
    <%= t('buttons.repeat') %>
  </button>
</div>
